flask
langchain
langchain-google-genai
langgraph
google-generativeai
duckduckgo-search
python-dotenv
requests
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
lanchain-community
Markdown 
markupsafe
gunicorn
